<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Intranet" connectionString="server=Servidor1;uid=sa;pwd=orodis8siciliana;database=IntranetServaindTest"/>
    <add name="Tango" connectionString="Data Source=server-storage\axsqlexpress;Initial Catalog=Servaind_S.A.;User Id=Martin;Password=33399150$1"/>
    <add name="Proser" connectionString="server=Servidor1;uid=sa;pwd=orodis8siciliana;database=Proser"/>
  </connectionStrings>
	<system.web>
    <customErrors mode="Off"></customErrors>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
    <authentication mode="Forms">
      <forms name=".ASPNET" loginUrl="login.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
    <sessionState timeout="5"></sessionState>
	</system.web>

  <location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="public">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <customErrors mode="Off"/>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
